<%= form_tag :session, class: 'form-signin' do %>
<h2 class="form-signin-heading">Please sign in</h2>
＊PCで見るなら画面サイズ768px以上が良いかも
<%= text_field_tag "login_id", "", class: 'input-block-level', placeholder: 'login_id' %>
<%= password_field_tag "password","",  class: 'input-block-level', placeholder: 'password' %>
<%= submit_tag "Sign in" , class: "btn btn-large btn-primary" %>
<% end %>
