<%= render 'shared/carousel' %>

<hr id="sessions-new-hr">

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span4">
    <h2>イベント管理</h2>
    <p>勉強会をやろうという流れがポツポツと出てきていて良いのだけれど、「誰がどこで何するの？」というのが参加者する側から見えないと何かと不便です。簡単に登録できて、ある程度管理できるものを作ろうと思っています。</p>
    <p><%= link_to '使ってみる &raquo;'.html_safe, :events, class: 'btn' %></p>
  </div>
  <div class="span4">
    <h2>トイレモニタ</h2>
    <p>トイレの状態がここで分かったら最高じゃ無いですか？席に居ながら、個室が開いているかどうかが分かります。問題はドアの開閉状態をどうやってサーバに教えてあげるかですが、ラズパイとか使ってみたらできるのかな。電源どうしよ。</p>
    <p><a class="btn" href="http://test-toilet.herokuapp.com">使ってみる &raquo;</a></p>
 </div>
  <div class="span4">
    <h2><s>行動予定表</s></h2>
    <p>新人さん御用達のツールですね。少し不便なところもあるそうなので（しかもC++ベース) メンテ可能なものにリプレイスできれば。。。ちょっとクリティカルな情報入っちゃうかもしれないからローカルに置かないと無理かね。調査対象の人が外からNRって入力できたらいいのに。イルカ君で良しですか。残念。</p>
    <p><a class="btn" href="#" disabled>未実装 &raquo;</a></p>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2><s>情報発信</s></h2>
    <p>twitter的なものがあってもいいじゃない。完全に作ってみたいだけ。でもこの辺まで来たらちゃんとユーザ認証したくなってしまうよね。面倒くさいから多分やらないし、需要も無いよね。</p>
    <p><a class="btn" href="#" disabled>未実装 &raquo;</a></p>
  </div>
  <div class="span4">
    <h2><s>会議室予約</s></h2>
    <p>もう世間にあるものだけど、上記が実現されたらやっぱり口は一つにしたくなるじゃない。今会議室の予約にはkizukiを使っていますが、ちょっと大変じゃないですか？機能自体はkizukiと紐づいていなくて良いはずなので、使い勝手重視のものを作ろうかと思っています。面倒なので全然手をつけていませんが。</p>
    <p><a class="btn" href="#" disabled>未実装 &raquo;</a></p>
  </div>
</div>
