<%= render 'shared/carousel' %>
<hr id="sessions-new-hr">

<div class="row-fluid">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#events"><i class="icon-chevron-right"></i> Events</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i> パクりすぎ</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i> これまずいか</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i> か？</a></li>
    </ul>
  </div>
  <div class="span9 help-content">
    <a name="events"></a>
    <h1>Events</h1>
    <h1>Conf. Rooms</h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>






  </div>


</div>
