<%= render 'shared/carousel' %>
<hr id="sessions-new-hr">

<div class="row-fluid">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#events"><i class="icon-chevron-right"></i> Events</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i> パクりすぎ</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i> これまずいか</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i> か？</a></li>
    </ul>
  </div>
  <div class="span9 help-content">
    <article>
      <section>
        <h1>OverView</h1>
        <h3>kizuite</h3>
        <p>
        Railsとbootstrapと昼休みと家でテレビを見ている時間で作成された、<br>kizukiにあったら良いのに、という機能を持っていて欲しいWEBアプリです。<br>
        ちなみになんちゃってレスポンシブなのでスマホでも見れるはず。
        </p>
        <h3>注意事項</h3>
        <p>
        個別ログインはマスタメンテが面倒なうえに忘れたりもするので統一パスワードでの運用になっています。<br>
        このため。<b>作成したデータは誰でも削除できてしまうし、変更も出来てしまいます。</b><br>悪戯が社内にそんな悪い人は居ないと信じています。
        </p>
      </section>
      <hr>
      <a name="events"></a>
      <section>
        <h1>Events</h1>
        <h3>用途</h3>
        <p>
        社内のイベントが増えてくるような流れを感じています。「え？そんな事やってたの？参加したかった！」
        そんな事態にならないための、告知だけでもできる場所です。
        ついでにATNDみたいに参加機能もつけました。<br>
        作ろうと思ったのは、
        <ul>
          <li>マスタメンテがあれなので、個別アカウントのログインが不要であること。</li>
          <li>とはいえイベントをカテゴライズできて、後から検索できること。</li>
          <li>ATNDみたく外部にアカウント作ってどう、、ていうの使われなさそう</li>
        </ul>
        という感じ。このへん解決してくれるのがあれば教えてください。検索未実装だけど。
        </p>
        <h3>頭の中</h3>
        <p>
        参加者をあらかじめ数人指定して登録出来たりすると良いかも。でも、
        </p>
      </section>
      <h1>Conf. Rooms</h1>会議室予約は未実装
      <h1>Boss Tracker</h1>行動予定表（新人さん用)は未実装
    </article>
  </div>


</div>
