/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'zurui-sass';

$bgcolor: $gray;

$sundayColor: #ffcccc;
$saturdayColor: #ccccff;
$eventExistsColor: #ffff00;

body.all{
  background-color:  $grayLighter;
}

ul.calendars{
  list-style: none;
  margin: 0px;

}

ul.calendar{
  width: 100%;
  list-style: none;
  margin:0px;
  overflow: hidden;


  li{
    float: left;
    border-style: solid;
    border-width :1px;
    border-color: $grayLight;
    margin: 0px;
    padding: 0px;
    margin-right: 1px;
    margin-bottom: 1px;
    width: 12%;
    font-size: 10px;
    height: 20px;
    text-align: center;
  }

  li.day0{
    background-color: $sundayColor;
  }
  li.day6{
    background-color: $saturdayColor;
  }
  li.has_event{
    background-color: $eventExistsColor;
  
  }

  
}
#sessions-new-hr{
  margin: 10px 0px;
}

.main{
  padding: 0px 20px;
  background-color:  $white;
}


.jumbotron{
  h1{
    @include zurui-ts-000( .1 );

  }
}

.attendance-counter{
  text-align: center;
  p{
  font-size: 30px;
}
}


.single-attendance{
  border-style: dotted;
  border-width: 0px;
  border-top-width: 1px;
  border-color: $grayLight;
  margin-bottom: 5px;

}

.hidden-object{
  display: none;
}

#event-title{
  font-weight: bold;
}

.well-ex{
  @extend .well;
  background-color: $white;
}

.btn-block-ex{
  width: 100%;
}

.datetime-selector{
  width: 100px;

}
div.event-list-header{
  @include zurui-line-bottom;
}

div.event-list{
  padding: 10px 0px;
  @include zurui-line-bottom;
}

a.event-list-link{
  text-decoration: none;
  color: $black;
}
a.event-list-link:hover{
  text-decoration: none;
}
.help-content{
  padding-left: 10px;
}
@media screen and (min-width: 757px){
      body {
        padding-top: 20px;
        padding-bottom: 60px;
      }
  div#small-header{
    display: none;
  }
}

@media screen and (max-width: 756px){
  .event-list{
    .center{
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: dotted;
      border-bottom-style: dotted;
      border-color: $grayLighter;
      float: left;
    }
    .left{
      float: left;
    }
    .right{
      float: left;
    }

  }
  div#myCarousel
  {
    display: none;
  }
  div#large-header{
    display: none;
  }
  #sessions-new-hr{
    display: none;
  }
  .main{
    padding: 0px 0px;
    background-color:  $white;
  }
  body.all{

  background-color:  $white;
}
}





